<div class="row">
  <div class="col-md-6">
    <h3>Create Category</h3>
    <form action='/category' method='post'>
      <label for='name'>Name</label><br>
      <input type='text' name='name' id='name' required="true"><br>

      <button type='submit'>Submit</button>
    </form>
  </div>


  <div class="col-md-6">
    <h1>All Categories</h1>
    <ul>
      <% @categories.each do |category|%>
      <p><a href="/category/<%= category.id() %>"><%= category.name %></a></p>
      <%end%>
    </ul>
  </div>
</div>
